<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Configure Node.js handler -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- URL rewriting rules -->
    <rewrite>
      <rules>
        <!-- Don't rewrite requests for node-internals -->
        <rule name="NodeInternals" stopProcessing="true">
          <match url="^/?node_modules/.*" />
          <action type="None" />
        </rule>

        <!-- Rewrite non-file and non-directory requests to server.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- iisnode configuration -->
    <iisnode 
      nodeProcessCommandLine="node.exe"
      loggingEnabled="false"
      devErrorsEnabled="true"
      debuggingEnabled="false" />

    <!-- Static file cache -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3600" />
    </staticContent>

    <!-- Remove server header for security -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
