<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Remove the default static file handling -->
    <handlers>
      <clear />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" />
    </handlers>

    <!-- Configure IIS to pass requests to Node.js via iisnode -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to Node.js -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js" ignoreCase="false" />
        </rule>
        
        <!-- Redirect all non-file/directory requests to server.js -->
        <rule name="StaticContent">
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Node.js configuration -->
    <iisnode nodeProcessCommandLine="&quot;%ProgramFiles%\nodejs\node.exe&quot;" loggingEnabled="true" logDirectory="iisnode" />

    <!-- Set response headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" content="IE=Edge" />
      </customHeaders>
    </httpProtocol>

    <!-- Allow static files to be cached -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3600" />
    </staticContent>
  </system.webServer>
</configuration>
